#div1{
	position:absolute;
	background-attachment:fixed;
	border:solid;
	height:850px;
	width:776px;
	border:#99FF99;
	left: 287px;
	top: 94px;
	background-color:#666666;
}
#t1{
	position:absolute;
	width:150px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 71px;
	
}
#t2{
	position:absolute;
	width:87px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 385px;
	top: 71px;
	
}
#t3{
	position:absolute;
	width:150px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 493px;
	top: 71px;
	
}
#t4{
	position:absolute;
	width:89px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 117px;
	
}
#t5{
	position:absolute;
	width:282px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 193px;
	
}
#t6{
	position:absolute;
	width:282px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 236px;
	
}
#t7{
	position:absolute;
	width:282px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 323px;
	
}
#t8{
	position:absolute;
	width:146px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 367px;
	
}
#t9{
	position:absolute;
	width:282px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 280px;
	
}
#t10{
	position:absolute;
	width:179px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 418px;
	
}
#t11{
	position:absolute;
	width:179px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 470px;
	
}
#t12{
	position:absolute;
	width:179px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 520px;
	
}
#t13{
	position:absolute;
	width:179px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 576px;
	
}
#t14{
	position:absolute;
	width:179px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 726px;
	
}
#t15{
	position:absolute;
	width:179px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 768px;
	
}
#t16{
	position:absolute;
	width:179px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 216px;
	top: 809px;
	
}
#l1{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 100px;
	top: 72px;
	color:#FFFFFF;	
}
#l2{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 101px;
	top: 121px;	
	color:#FFFFFF;
}
#l3{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 100px;
	top: 158px;	
	color:#FFFFFF;
}
#l4{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 101px;
	top: 196px;
	color:#FFFFFF;	
}
#l5{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 100px;
	top: 237px;	
	color:#FFFFFF;
}

#l6{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 104px;
	top: 328px;	
	color:#FFFFFF;
}
#l7{
	position:absolute;
	width:150px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 74px;
	top: 371px;	
	color:#FFFFFF;
}
#l8{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 102px;
	top: 283px;	
	color:#FFFFFF;
}
#l9{
	position:absolute;
	width:100px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 103px;
	top: 417px;	
	color:#FFFFFF;
}
#l10{
	position:absolute;
	width:100px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 99px;
	top: 465px;	
	color:#FFFFFF;
}
#l11{
	position:absolute;
	width:100px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 97px;
	top: 522px;	
	color:#FFFFFF;
}
#l12{
	position:absolute;
	width:138px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 68px;
	top: 573px;	
	color:#FFFFFF;
}
#l13{
	position:absolute;
	width:200px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 106px;
	top: 731px;	
	color:#FFFFFF;
}
#l14{
	position:absolute;
	width:100px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 106px;
	top: 808px;	
	color:#FFFFFF;
}
#l15{
	position:absolute;
	width:100px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 106px;
	top: 771px;	
	color:#FFFFFF;
}
#m{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 217px;
	top: 156px;	
	color:#FFFFFF;
}
#f{
	position:absolute;
	width:50px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 298px;
	top: 157px;	
	color:#FFFFFF;
}
#r1{
	position:absolute;
	left: 254px;
	top: 155px;	
}

#r2{
	position:absolute;
	left: 352px;
	top: 157px;	
}
#p0{
	position:absolute;
	left: 239px;
	top: 370px;	
}
#p1{
	position:absolute;
	left: 283px;
	top: 370px;	
}
#p2{
	position:absolute;
	left: 327px;
	top: 371px;	
}
#p3{
	position:absolute;
	left: 371px;
	top: 372px;	
}
#zero{
	position:absolute;
	left: 226px;
	top: 371px;	
	color:#FFFFFF;
}
#one{
	position:absolute;
	left: 271px;
	top: 371px;	
	color:#FFFFFF;
}
#two{
	position:absolute;
	left: 317px;
	top: 371px;	
	color:#FFFFFF;
}
#three{
	position:absolute;
	left: 361px;
	top: 371px;	
	color:#FFFFFF;
}
#b1{
	position:absolute;
	width:161px;
	height:39px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 149px;
	top: 688px;
	
}
#b2{
	position:absolute;
	width:161px;
	height:39px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	left: 401px;
	top: 688px;
	
}
#extra1{
	position:absolute;
	
	font-family:Geneva, Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:16px;
	left: 40px;
	top: 436px;	
	font-size:18px;
}
#extra0{
	position:absolute;
	
	font-family:Geneva, Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:16px;
	left: 40px;
	top: 21px;	
	font-size:18px;
}
#extra2{
	position:absolute;
	
	font-family:Geneva, Arial, Helvetica, sans-serif;
	
	font-weight:bold;
	font-size:16px;
	left: 41px;
	top: 587px;	
	font-size:18px;
}